@using BtaApplication.Todo.Services
@using BtaDomain.ToDo
@using Microsoft.AspNetCore.Mvc.TagHelpers

@inject ITodoItemApplicationService TodoItemApplicationService

@model BtaPresentationWeb.Models.Todo.TodoItemEditViewModel
@{
    ViewData["Title"] = "TODO Detail";
    bool editable = TodoItemApplicationService.IsEditable(Model.ToDto());
    bool deletable = TodoItemApplicationService.IsDeletable(Model.ToDto());
    var modelState = ViewContext.ViewData.ModelState;
}
<div class="text-center">
    <h1 class="display-4">TODO Detail</h1>
    
    <form asp-controller="Todo" asp-action="EditSave" method="post">
        <div class="row">
            <div class="col text-end">
                <a asp-action="Index" asp-controller="Home">Go home</a>
            </div>
        </div>
        @if (!modelState.IsValid)
        {
           <div class="alert alert-danger" role="alert">
               @foreach (var error in modelState.Values.SelectMany(x => x.Errors).Select(x => x.ErrorMessage))
               {
                   <div>@error</div>
               }
           </div>
        }
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.StatusId)
        <div class="row">
            <div class="col">
                @Html.TextBoxFor(m => m.Name, new { placeholder = "Name", ariaLabel = "Name", @class = "form-control", autocomplete = "off" })
               @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="col">
                @Html.DropDownListFor(m => m.PriorityId, TodoItemApplicationService.GetTodoPriorityDataSource(), new { @class = "form-select" })
               @Html.ValidationMessageFor(m => m.PriorityId)
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="d-block bg-light p-3">@Html.DisplayTextFor(m => m.StatusName)</span>
            </div>
        </div>
        <div class="row">
            <div class="col text-start">
                @if (Model.StatusId == (int)TodoStatus.Notstarted)
                {
                    <a asp-action="ChangeStatus" asp-controller="Todo" asp-route-id="@Model.Id" asp-route-status="@((int)TodoStatus.InProgress)" class="btn btn-success">Start</a>
                }
                @if (Model.StatusId == (int)TodoStatus.InProgress)
                {
                    <a asp-action="ChangeStatus" asp-controller="Todo" asp-route-id="@Model.Id" asp-route-status="@((int)TodoStatus.Completed)" class="btn btn-success">Complete</a>
                }
            </div>
            <div class="col text-end">
                @if (editable)
                {
                    <button type="submit" class="btn btn-primary">Save</button>
                }
                @if (deletable)
                {
                    <a asp-action="Delete" asp-controller="Todo" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                }
            </div>
        </div>
    </form>
</div>
